@media (max-width: 578px) {
    .share:hover .social-list {
        display: absolute;
    }
    
    .most-viewed {
        margin-top: 70px;
    }
}

.share-icon {
    cursor: pointer;
}

.social-list {
    display: none;
}

.share:hover .social-list {
    display: flex;
}

.list-tags li {
    border-radius: 1.5rem;
    padding: 0.25rem 0.75rem;
}

.list-related li {
    margin-bottom: 20px;
}